body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2{
	color: #006400;
	font-family: "Trebuchet MS", Helvetica, sans-serif; 
	font-size: 40px;
}

h3{
	color: purple;
}
